// background
$primary-dark: #E87928;
$primary: #FF8B37;
$primary-light: #FFAC70;
$primary-light2: #FFF3EB;
$success: #47D867;
$success-light: #E6FAEA;
$wrong: #EC6259;
$wrong-light: #FDEEED;

// text
$black: #1C1C21;
$grey: #D0D0D8;
$light: #F5F5F7;
$white: #ffffff;


// breakpoint
$table-width: 1124px;
$desktop-width: 1420px;
